.table {
  display: inline-block;
}

.tableRow {
  display: flex;
}

.tableHead {
  display: flex;
}

.tableContainer {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
}