.app {
  text-align: center;
}

.financeTable {
  background-color: #fff;
}

.customTableHeading {
  background-color: #4b8c74;
  color: #fff;
  text-transform: capitalize;
}


.mediumWidth {
  min-width: 10%;
}

.smallWidth {
  min-width: 5%;
}